<!-- /tplAutoTimerList -->
					<div id="navContent">
						<table class="tabOverview"> 
							<tr>
								<td>
									<select id="list" class="overview">
									{for Record Series in list}
										<option value="${autotimer.id}" class="${autotimer.css}">&nbsp;${autotimer.name}</option>
									{/for}		
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<hr />
									<div id="listmenu" class="buttonbar">
										<button type="button" id="add">Add Record Series entry</button>
										<button type="button" id="delete">Delete Record Series entry</button>
										<!--TODO MAYBE button id="clone">Clone Record Series entry</button -->
									</div>
								</td>
							</tr>
						</table>
					</div>
<!-- /tplAutoTimerList -->