<!-- tplAutoTimerMenu -->
				<div id="mainMenu">
					<ul id="mainMenuLeft">
						<li class="roundedNav"><a class="roundedNav" href="#"><span id="back">Back</span></a></li>
					</ul>
					<ul id="mainMenuLeft">
						<li class="roundedNav"><a class="roundedNav" href="#"><span id="reload">Reload</span></a></li>
						<li class="roundedNav"><a class="roundedNav" href="#"><span id="preview">Preview</span></a></li>
						<li class="roundedNav"><a class="roundedNav" href="#"><span id="parse">Parse</span></a></li>
						<li class="roundedNav"><a class="roundedNav" href="#"><span id="timer">Entries</span></a></li>
						<!--TODO MAYBE LATER span id="settings">Settings</span -->
					</ul>
					
					<!-- The order is switched because of the float right behaviour -->
					<ul id="mainMenuRight">
						<li class="roundedNav"><a class="roundedNav" href="#"><span id="about">About</span></a></li>
					</ul>
					<ul id="mainMenuRight">
						<li class="roundedNav"><a class="roundedNav" href="#"><span id="backup">Backup</span></a></li>
						<li class="roundedNav">
							<form id="restoreform" class="inline">
								<a class="roundedNav" href="#"><span id="restore">Restore</span></a>
								<input id="file" type="file" name="file"/>
							</form>
						</li>
					</ul>
				</div>
<!-- /tplAutoTimerMenu -->